.business__heading {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 40px;
}

.business__header {
  max-width: 260px;
}

.business__description {
  color: #828282;
  line-height: 18px;
}

.business__figure {
  padding-bottom: 20px;
}

figcaption b {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
}

.business__design figure img {
  border-radius: 15px;
  width: 100%;
}

.busisess__link {
  text-decoration: none;
}

.business__see--more {
  color: #2d9cdb;
  border: transparent 1px solid;
  outline: none;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-family: "poopins";
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.business__see--more img {
  margin-left: 30px;
}

@media (min-width: 1440px) {
  .business {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }

  .business__header {
    font-size: 36px;
    line-height: 54px;
    max-width: 458px;
  }

  .business__design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .business__figure--smartphone {
    margin-top: 200px;
  }

  .business__figure--book {
    margin-top: 150px;
  }

  .business__figure--product {
    margin-top: -60px;
  }

  .business__see--more {
    margin-left: auto;
  }

  .busisess__link {
    margin-left: auto;
    margin-top: -70px;
    font-size: 22px;
  }
  .business__figure {
    margin-right: 0;
  }
}
