.footer__lists {
  line-height: 200%;
  padding: 0;
}

.footer__lists--items {
  list-style: none;
  padding: 0;
}

.footer__lists--items a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}
.edie__icons {
    padding-top: 30px;
    padding-bottom: 40px;
}

.edie__icons--heading {
  font-size: 36px;
  color: #f2f2f2;
}

.edie__icons--heading h4 {
    font-family: "Heebo";
    font-weight: 800;
    margin: 0;
}

.footer__lists--form--intouch {
    padding: 3px;
}

@media (min-width: 1440px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
}