@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-Regular.woff2") format("woff2"), url("Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  box-sizing: border-box;
  margin: 0; }

h1 {
  font-family: "Heebo"; }

h2, h3 {
  font-family: "Poppins";
  color: #333333; }

img {
  max-width: 100%; }

section {
  padding-top: 30px;
  padding-bottom: 30px; }

footer {
  background-color: #100E1D;
  color: #ffffff;
  padding: 40px;
  margin: 0; }

@media (min-width: 1440px) {
  main {
    padding-top: 40px; } }

body > [type="checkbox"]:checked ~ header label {
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0; }

body > [type="checkbox"]:checked ~ nav {
  transform: translate(0);
  transition: transform 0.3s; }

[type="checkbox"] {
  position: absolute;
  top: 15px;
  right: 0; }

@media (min-width: 1440px) {
  [type="checkbox"] {
    width: 0;
    height: 0; } }

.dropdown__menu {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 0.25rem;
  float: right; }

.navigation {
  clear: both;
  position: absolute;
  padding: 1rem;
  background-color: #f8f8f8;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  transform: translate(-110%);
  transition: transform 0.3s;
  z-index: 1; }

.navigaton__lists--items {
  list-style: none; }

.navigaton__lists--items a {
  text-decoration: none;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000; }

.navigaton__lists--items a:hover {
  color: #ffffff; }

.home {
  background-image: url(../icons/home.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-inline-start: 3rem; }

.service {
  background-image: url(../icons/service.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-inline-start: 3rem; }

.contact {
  background-image: url(../icons/contact.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-inline-start: 3rem; }

.work {
  background-image: url(../icons/work.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-inline-start: 3rem; }

.client {
  background-image: url(../icons/client.svg);
  background-position: left;
  background-size: 1rem;
  background-repeat: no-repeat;
  padding-inline-start: 3rem; }

@media (min-width: 1440px) {
  .navigation {
    background-color: transparent;
    transform: none;
    transition: none;
    line-height: 0; }
  .navigation__lists {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: max-content;
    margin-left: 798px;
    font-size: 24px; }
  .navigaton__lists--items a {
    background-image: none;
    text-transform: capitalize; }
  .dropdown__menu img {
    width: 0; }
  .dropdown__menu ~ h1 {
    font-size: 36px; } }

.main__heading,
.description__container {
  padding-left: 30px;
  padding-right: 30px; }

.main__content {
  padding-bottom: 30px; }

.favorite {
  text-decoration: none;
  font-family: "Poppins";
  color: #2D9CDB; }

.main__headers {
  width: 100%; }

.description img {
  border-radius: 18px; }

.description__container--header {
  width: 60%;
  font-size: 24px;
  line-height: 36px; }

.description__container--content {
  color: #4f4f4f;
  line-height: 18px; }

.interest {
  color: #828282;
  line-height: 15px; }

.get__in--touch {
  margin-top: 16px;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.get__in--touch input {
  background-color: #f2f2f2;
  outline: none;
  border: 1px solid #f2f2f2; }

::placeholder {
  color: #bdbdbd; }

.get__in--touch button {
  padding: 16px;
  width: 30%;
  background-color: #2d9cdb;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  outline: none; }

.description__container--heading {
  width: 60%; }

@media (min-width: 1440px) {
  .main__heading,
  .description__container {
    width: 38%;
    margin: auto;
    margin-left: 250px;
    font-size: 30px; }
  .description__container--content {
    line-height: 40px; }
  .favorite {
    font-size: 20px; }
  .interest {
    font-size: 20px; } }

.services {
  padding-right: 24px;
  padding-left: 24px; }

.services__heading {
  width: 65%;
  padding-top: 10px;
  padding-bottom: 10px; }

.services__header {
  font-size: 24px;
  line-height: 36px; }

.main__service {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px; }

.main__service:hover {
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1); }

.main__service:hover .started {
  background-color: #2d9cdb;
  color: #ffffff; }

.main__service p {
  font-size: 20px;
  line-height: 24px;
  font-family: "Poppins"; }

.main__service button {
  padding: 20px;
  border: 1px transparent solid;
  outline: none;
  border-radius: 16px;
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins"; }

.create-icon {
  background-color: #2d9cdb; }

.code-icon {
  background-color: #27ae60; }

.lists-icon {
  background-color: #eb5757; }

@media (min-width: 1440px) {
  .services {
    padding-right: 100px;
    padding-left: 100px; }
  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .services__header {
    font-size: 36px;
    line-height: 54px;
    width: 356px; } }

.business__heading {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 40px; }

.business__header {
  max-width: 260px; }

.business__description {
  color: #828282;
  line-height: 18px; }

.business__figure {
  padding-bottom: 20px; }

figcaption b {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px; }

.business__design figure img {
  border-radius: 15px;
  width: 100%; }

.busisess__link {
  text-decoration: none; }

.business__see--more {
  color: #2d9cdb;
  border: transparent 1px solid;
  outline: none;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-family: "poopins";
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-items: center; }

.business__see--more img {
  margin-left: 30px; }

@media (min-width: 1440px) {
  .business {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px; }
  .business__header {
    font-size: 36px;
    line-height: 54px;
    max-width: 458px; }
  .business__design {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .business__figure--smartphone {
    margin-top: 200px; }
  .business__figure--book {
    margin-top: 150px; }
  .business__figure--product {
    margin-top: -60px; }
  .business__see--more {
    margin-left: auto; }
  .busisess__link {
    margin-left: auto;
    margin-top: -70px;
    font-size: 22px; }
  .business__figure {
    margin-right: 0; } }

.meeting {
  padding-left: 10px; }

.meeting__heading a {
  color: #eb5757;
  font-size: 20px;
  line-height: 27px;
  font-family: "Poppins";
  text-decoration: none; }

.meeting__heading p {
  color: #4f4f4f;
  font-size: 20px;
  line-height: 24px; }

.meeting__figures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  padding-bottom: 20px; }

.meeting__figures img {
  border-radius: 24px;
  width: 100%; }

.meeting__first--person {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-bottom: 10px; }

.meeting__second--person {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6; }

.meeting__third--person {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  margin-left: -10px; }

.meeting__header {
  font-size: 36px;
  line-height: 54px;
  width: 280px; }

.meeting__quotes--info {
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  font-family: Poppins; }

.meeting__talented--description b {
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  font-weight: 500; }

.meeting__talented--description dfn {
  font-size: 20px;
  line-height: 27px;
  color: #828282;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal; }

.meeting__talented--description {
  margin-left: 139px;
  margin-top: -109px;
  line-height: 50px; }

.meeting__talented::before {
  content: "";
  background-image: url(../images/person4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  border-radius: 10px;
  width: 90px;
  height: 90px; }

@media (min-width: 1440px) {
  .meeting {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px; }
  .meeting__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .meeting__quotes--info {
    font-size: 36px;
    line-height: 54px;
    max-width: 950px; } }

.footer__lists {
  line-height: 200%;
  padding: 0; }

.footer__lists--items {
  list-style: none;
  padding: 0; }

.footer__lists--items a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff; }

.edie__icons {
  padding-top: 30px;
  padding-bottom: 40px; }

.edie__icons--heading {
  font-size: 36px;
  color: #f2f2f2; }

.edie__icons--heading h4 {
  font-family: "Heebo";
  font-weight: 800;
  margin: 0; }

.footer__lists--form--intouch {
  padding: 3px; }

@media (min-width: 1440px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px; } }
